.Menu li{
  text-transform: uppercase;
    font-weight: 500;
	font-size: 22px;
	line-height: 1.5;
	letter-spacing: 0.01em;
    transition: 0.3s;
    border-bottom: 2px solid transparent;

}
.Menu ul{
    display: flex;
	column-gap: 65px;
	align-items: center;
  }
  .Menu li:hover{
    border-color: #333;
  }
  footer .Menu ul{
    flex-direction: column;
    padding-bottom: 20px;
    display: inline-block;
  }
  footer .Menu li{
    margin-bottom: 8px;
    padding: 3px 0 1px;
    text-transform: none;
    font-size: 16px;
  }